<!DOCTYPE html>
<html>
<head>
  <title>My TEST Project RoR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

Hello! Ruby! this is jahangir ali khan

<%= yield %>

copyright jahangir Inc, LLC
</body>
</html>
